/* CSS Document */

body{
	background: url('https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1255&q=80') no-repeat center center/cover;;
	height: 100vh;
	width: 100%;
	
	overflow-x: hidden;
	
	text-decoration: none;
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

ul li{
	
	display: inline-block;
	font-size: 30px;
}

ul li a{
	text-decoration: none;
	text-align: center;
	color: black;
	padding: 3px 3px;
	border: 3px solid transparent;
}

a{
	font-size: 30px;
	text-decoration: none;
	text-align: center;
	color: black;
	padding: 3px 3px;
	border: 3px solid transparent;
}


ul li a:hover{
	background-color: transparent;
	
	color: gold;
	padding: 3px 3px;
	border: 3px solid transparent;
}

a:hover{
	background-color: transparent;
	
	color: royalblue;
	padding: 3px 3px;
	border: 3px solid transparent;
}

h3 {
	text-align: center;
	font-size: 32px;
	color: black;

}

p{
color: black;
font-size: 25px;
 }