body{
   background-color: azure;
    color: rgb(160, 163, 167);
    font-size: 450%;
	margin: 0;
	padding: 0;

	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
overflow: hidden;
   background: url(https://images.unsplash.com/photo-1577444338081-c09f09fdc59c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80)no-repeat center center/cover;;
	height: 100vh;



}

.page{
width: 100%;
height: 100%;
overflow-y: scroll;
scroll-behavior: smooth;
scroll-snap-type: y mandatory;
}

h1 {
	text-align: center;
	font-size: 30px;
	color: black;

}

h2 {
	text-align: center;
	font-size: 25px;
	color: black;

}


h3 {
	text-align: center;
	font-size: 27px;
	color: black;

}

ul{
	text-align: center;
	word-spacing: 50px;
	list-style-type: none;
}

ul li{
	
	display: inline-block;
	font-size: 30px;
}

ul li a{
	text-decoration: none;
	text-align: center;
	color: black;
	padding: 3px 3px;
	border: 3px solid transparent;
}

ul li b{
	text-decoration: none;
	text-align: center;
	color: black;
	padding: 3px 3px;
	border: 3px solid transparent;
}

ul li a:hover{
	background-color: transparent;
	
	color: lightgrey;
	padding: 3px 3px;
	border: 3px solid transparent;
}

.main{
	display: inline;
	text-align: center;
	
}

.contact{
	color: black;
	display: flex;
	align-content: center;
	vertical-align: bottom;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;

}

p{
color: black;
font-size: 22px;
 }

a{
text-decoration: none;
color: black;
font-size: 27px;
}

a:hover{
	background-color: transparent;
	color: gold;
}


section#Music{

  background: url('https://images.unsplash.com/photo-1449867727329-3294ea016353?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3840&q=80') no-repeat center center/cover;;

}


section#Music ul li a:hover{
	background-color: transparent;
	
	color: gold;
	
	
	
}

section#Podcasts {
  background: url('https://images.unsplash.com/photo-1557672172-298e090bd0f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80') no-repeat center center/cover;;
	
}

section#Podcasts ul li a:hover{
	background-color: transparent;
	
	color: gold;
	
	
}


section#Contact {
  background: url('https://images.unsplash.com/photo-1552083974-186346191183?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80') no-repeat center center/cover;;
	
}

section#Contact a:hover{
	background-color: transparent;
	
	color: gold;
	padding: 3px 3px;
	border: 3px solid transparent;
	
}
